<nav class="navbar navbar-inverse navbar-fixed-top navbar-fepade">
    <div class="container">
        <div class="navbar-header">
            <!--<button type="button" class="navbar-toggle hidden" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>-->
            <a href="/" class="navbar-brand showLoading">FEPADE | PGR
                <span class="glyphicon glyphicon-home"></span>
            </a>
            <a href="http://fepade-tel-publico.azurewebsites.net/Static/Supervisor.html?tel=true">Supervisor FEPADETEL</a>
                <a href="http://fepade-tel-publico.azurewebsites.net/Static/Supervisor.html?tel=false">Supervisor FEPADENET</a>


        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                <li style="display:block">
                    <a href="#" class="showLoading">PGR </a>
                </li>
                <li style="display:none">
                    <a href="#" class="showLoading">FEPADE </a>
                </li>

            </ul>

        </div>

    </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">FEPADE</a>
  <ul class="navbar-nav">
    <li [routerLinkActive]="['link-active']">
      <a [routerLink]="['capture']">
        FEPADE
      </a>
    </li>
    <li [routerLinkActive]="['link-active']">
      <a>
        Cerrar sesión
      </a>
    </li>
  </ul>
</nav> -->