<div class="container">
  <div class="row">
  <div class="col-md-12">
  <h1>FEPADETEL</h1>
  </div>
  </div>
  <h4>Bienvenido a FEPADETEL</h4>
  <hr class="tab" />
  <div class="row text-justify">
  <div class="row col-md-12">
  <p style="font-weight: bold">Buen día! </p>
  </div>
  <div class="row col-md-12">
  Gracias por llamar a
  <p style="font-weight: bold">&nbsp;FEPADETEL.</p>
  </div>
  <div class="row col-md-12">
  Lo atiende el Operador
  <p style="font-weight: bold">&nbsp;Nombre</p>
  </div>
  <div class="row col-md-12">
  ¿Puede comentarme cuál es su planteamiento?
  </div>
  </div>
  <div class="row">
  <div class="col-md-4">
  
  </div>
  <div class="col-md-10 text-right">
  <button class="btn btn-primary" [routerLink]="['/capture']">Siguiente</button>
  </div>
  </div>
  
  </div> 